body {
    /* font-family: 'Palatino Linotype', Palatino, serif; */
    font-family: 'Lora', serif;
    font-size: clamp(16px, 20px, 24px);
    text-align: justify;
    max-width: 80ch;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 2rem 1.25rem;
    line-height: 1.5;

    background-color: #fff;
    color: #000;
}

a {
    /* /color: #82aaff; */
    color: #0044f0;
    text-decoration: none;
}

code, pre, kbd, samp, tt {
    font-size: 0.97rem;
    font-family: monospace, monospace;
}

.title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: revert;
}

h2, h3, h4, h5, h6 {
    text-align: center;
}

#profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3.5px solid #000;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1.5em;
}

.navbar li {
  margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.navbar a:hover {
    text-decoration: none;
    font-width: bold;
}

.hr {
  height: .75px;
  background-color: #000;
  width: auto;
}

/* .tt { font-size: 0.97rem; font-family: 'Ubuntu Mono', monospace; } */
.sc { font-variant: small-caps; }
.sf { font-family: sans-serif; }
.ul { text-decoration: underline; }

/* @media (prefers-color-scheme: dark) { */
/*     body { */
/*         background-color: #121212; */
/*         color: #e0e0e0; */
/*     } */

/*     a { */
/*         /\* ACMDarkBlue: #0055C9 *\/ */
/*         /\* ACMLightBlue: #82FCFF *\/ */
/*         /\* /color: #82aaff; *\/ */
/*         color: #82FCFF; */
/*         text-decoration: none; */
/*     } */

/*     .navbar a { */
/*         color: #ddd; */
/*     } */

/*     .navbar a:hover { */
/*         text-decoration: none; */
/*         color: #fff; */
/*     } */

/*     .hr { */
/*         background-color: #555; */
/*     } */
/* } */
